.contact{
  width: 100%;
  margin: 120px 0;

  &__row{
    display: flex;
    margin: 0 0 100px;
  }

  &__left{
    max-width: 550px;
    font-size: 38px;
    font-weight: 500;
    border-right: 2px solid $main-color;
    padding: 0 50px 0 0;
    width: 100%;

    span{
      font-size: 50px;
      font-weight: 700;
      color: $main-color;
    }
  }

  &__right{
    padding: 0 0 0 50px;

    &__header{
      font-size: 30px;
      font-weight: 500;
      margin: 0 0 30px;
    }
  }

  &__item{
    font-size: 28px;
    line-height: 36px;
  }
}